- # breadcrumbs(link_to(@parent_object.class.to_s, sites_path), link_to(@parent_object, @parent_object), "Results", @result)
- content_for :content_top do
  %h1= @result.asset

%p
  = @result

~ content_tag :pre, @result.asset.excerpt(6, 1)

%h3
  Find out more

%p
  = link_to "Google this result", "http://www.google.co.uk/search?q=#{URI.escape(@result.to_s)}"
  |
  = link_to "Search on Stack Overflow", "http://stackoverflow.com/search?q=#{URI.escape(@result.to_s)}"