#introduction
  %h1= t('pages.home.title', :default => 'Welcome to Last Percent')
  %p.intro= t('pages.home.intro')
  
  %h2= t('pages.home.screenshots.intro', :default => 'A few screenshots')
  %ul
    %li= link_to(image_tag('/images/screenshots/1_small.png', :alt => "View a list of sites"), '/images/screenshots/1.png', :rel => 'group', :class => 'lightbox')
    %li= link_to(image_tag('/images/screenshots/2_small.png', :alt => "Results appear as the site is scanned"), '/images/screenshots/2.png', :rel => 'group', :class => 'lightbox')
    %li= link_to(image_tag('/images/screenshots/3_small.png', :alt => "Find out where the error is in your code"), '/images/screenshots/3.png', :rel => 'group', :class => 'lightbox')

#search
  = render 'sites/search'
  %p.login
    = t('page.home.login_small', :default => 'Already have an account?')
    = link_to t('page.home.login_link', :default => 'Sign in'), login_path
    
#latest
  %h2 Recently scanned websites
  
  %ul
    - @latest.each do |site|
      %li= link_to site.to_s, site.url

