- content_for :content_top do
  %h1 Assets

- form_tag search_site_assets_path, :method => :get do
  = text_field_tag :query
  = submit_tag 'Search'
  
= will_paginate @assets

%dl.list_dl.asset_list_dl
  %dt.assets Assets
  %dd A list of assets that have been found on your site.
  %dt.results Results
  %dd The results for each asset.
  
  
%ul.list.asset_list
  = render :partial => 'asset', :collection =>  @assets

= will_paginate @assets

- form_tag site_assets_path, :method => :get do
  = select_tag :content_type_id, options_from_collection_for_select(@site.content_types, :id, :to_s, params[:content_type_id].to_i)
  = submit_tag 'Filter'