- breadcrumbs(link_to('Sites', sites_path), link_to(truncate(@asset.site.to_s, :length => 50), @asset.site), link_to('Assets', site_assets_path(@asset.site)), truncate(@asset.to_s, :length => 50))
- content_for :content_top do
  %h1
    = truncate(@asset.to_s, :length => 50)
    = link_to "&#x2192;", @asset.url, :rel => :external

#summary
  .box.errors
    %h3 Errors
    %em= link_to split_digits(@asset.errors_count), asset_results_path(@asset, :severity => 2)
    .bar
  .box.warnings
    %h3 Warnings
    %em= link_to split_digits(@asset.warnings_count), asset_results_path(@asset, :severity => 1)
    .bar
  .box.successes
    %h3 Successes
    %em= link_to split_digits(@asset.infos_count), asset_results_path(@asset, :severity => 0)
    .bar

- if @asset.body_present?
  %h3 Content
  = asset_content_tag @asset