!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => "text/html; charset=utf-8"}
    %meta{:name => 'author', :content => 'Rawnet'}
    %meta{:name => 'keywords', :content => 'keywords TODO'}
    %meta{:name => 'description', :content => 'description TODO'}
    %link{:rel => 'shortcut icon', :href => "/favicon.ico"}
    - if protect_against_forgery?
      :javascript
        var AUTH_TOKEN=#{form_authenticity_token.inspect};
    = stylesheet_link_tag('application')
    = stylesheet_link_tag('print', :media => :print)
    = javascript_include_tag 'jquery', 'jquery.fancybox', 'application', :cache => true
    - if iphone?
      %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"}
      = stylesheet_link_tag 'iphone'
      %link{:rel => "apple-touch-icon", :href => "/images/home-icon.png"}
    %title Last Percent
    = yield(:head)
  %body{:id => @body_id || nil}
    #header
      %h1= link_to t('app.title'), root_path, :rel => :home
      
      %ul#menu
        %li= link_to t('layout.navigation.home'), root_path
        
        - if current_user
          %li= link_to t('layout.navigation.sites'), sites_path
        - else
          %li= link_to t('layout.navigation.signin_or_register'), login_path
        
        %li= link_to t('layout.navigation.about'), page_path(:about)
        %li= link_to t('layout.navigation.faq'), page_path(:faq)
        
      -if current_user
        #account
          %p 
            Welcome back
            = current_user
          %ul#accountmenu
            %li= link_to t('layout.navigation.account'), edit_user_path(current_user)
            %li= link_to t('layout.navigation.logout'), logout_path
          %div.gravatar
            = image_tag current_user.gravatar_url

    #column
      - if @content_for_content_top.present?
        #content_top
          = yield :content_top
          
      - if @content_for_breadcrumbs.present?
        #infobar= yield :breadcrumbs
      #content.clearfix
        - flash.each do |key, msg|
          %div{:class => "flash #{key}"}= msg
          
        = yield
    #footer
      %p
        = link_to "&#x2191;", '#header', :class => 'up', :title => t('layout.navigation.top')
        Designed and Developed by
        = link_to "Snarfs", 'http://labs.rawnet.com'
        for
        = link_to "Rails Rumble", 'http://r09.railsrumble.com'
        |
        Send us feedback at
        = mail_to 'hello@lastpercent.com'
    = render 'partials/analytics'